<% unless user_signed_in? %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p>Register to get started.</p>
      <p><%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
    </div>
  </div>
<% else %>
<div>
   <h2 class="text-center">Reserve Boats</h2>
   <hr>
   <% unless current_user.provider == nil %>
   <button class="success btn-sm">
    <%= link_to 'Create new Spot listing', new_spot_path %>
   </button>
   <button class="success btn-sm pull-right">
     <%= link_to 'Create new Boat listing', new_boat_path %>
   </button>
   <% end %>
 </div>
  <div class="col-lg-8">
    <div class="well" style="background:#d7e2f0; box-shadow: 1px 4px 9px 4px #fff; border-color: cyan;">
    <%= form_tag({controller: :spots, action: :search_boats}, {method: :get}) do  %>
  <div class="col-sm-4">
    <%= collection_select( nil, :lake_id, Lake.all, :id, :name, { :include_blank => "Lakes"} , { :class => 'form-control' })  %>
  </div>
  <div class="col-sm-4">
    <%= collection_select( nil, :term_id, Term.all, :id, :name, { :include_blank => 'Rental time period'} , { :class => 'form-control' })  %>
  </div>
  <div class="col-sm-4">
    <%= collection_select( nil, :value, Distance.all, :value, :value, { :include_blank => 'Distance radius'} , { :class => 'form-control' })  %>
  </div>
  <span style="padding:15px;">
    <%= text_field_tag :keyword %> <%= submit_tag "search" %>
  </span>
  </div>
</div>
<% end %>


<%  @boats.each do |i| %>
<div class="" style="border-radius: 90px;">
 <div class="col-lg-6 well well-styled">
  <table>
  <tr>
    <h3 class="well-title"><%=link_to i.title, i %></h3>
    <% if i.spot_image_file_name == nil %>
      <td><h4><%=link_to image_tag("#{i.image_url}", :size => "120x120", alt: "Example Image"), i%></td></h4>
    <% else %>
      <td><h4> <%=link_to image_tag i.spot_image(:square) %> </h4></td>
    <% end %>
    <td>
      <% if current_user.role == "admin" || current_user.id == i.user_id %>
        <%= link_to "edit", edit_spot_path(i), class: "btn btn-primary" %>
        <%= button_to "delete", i, :method=>:delete, :class=>:destroy %>
      <% end %>
    </td>
    <td style="padding-left: 10px"><%=i.description.truncate(59)%></td>
    <td style="padding-left: 15px;"><strong>price:  </strong> $<%= i.price%>
     <strong>Length:  </strong><%= i.length%>ft.
    </td>
    <td><strong> Lake: </strong>
    <%= i.lake.name %>
    <strong> occupants: </strong>
    <%= i.occupants %>
  </td>
  </tr>
  </table>
 </div>
</div>
 <% end %>
<% end %><!-- top -->
