<% unless user_signed_in? %>
<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p>Register to get started.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
 <% end %>
<% else %>
<div class="text-centered">
<h1> Welcome!</h1>
<button class="success btn-sm">
 <%= link_to 'Create new listing', new_spot_path %>
</button>
</div>
<hr>

<%  @spots.each do |i| %>
<div class="col-lg-6">
<div class="well well-lg">
<table>
  <tr>
    <td><h4> <%=link_to image_tag i.spot_image(:square) %> </h4></td>
    <h3><td><%=link_to i.title, i %>:</td></h3>
    <td><%=i.description.truncate(59)%></td>
    <td style="padding-left: 15px;"><strong>Length:  </strong>:<%= i.length%></td>
    <td style="padding-left: 15px;"><strong>width:  </strong>:<%= i.width%></td>
    <td style="padding-left: 15px;"><strong>depth:  </strong>:<%= i.depth%></td>
    <td style="padding-left: 15px;"><strong>price:  </strong>:<%= i.price%></td>

  <tr>
</table>
</div>
</div>


<% end %>
<% end %>
