<% unless user_signed_in? %>
<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p>Register to get started.</p>
      <p><%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
    </div>
  </div>
 <% end %>
<% else %>
   <h3 class="text-center"> Boat Parking & Storage </h3>
   <div class="buttons" style="text-decoration:none;">

   <% unless current_user.provider == nil %>
   <div class="btn btn-outline btn-primary btn-md">
    <%= link_to 'Create new Spot listing', new_spot_path %>
  </div>
   <div class="btn btn-outline btn-primary pull-right" style="color:black;">
     <%= link_to 'Create new Boat listing', new_boat_path %>
   </div>
 </div>
 <div class="col-lg-8">
  <div class="well">
 <%= form_tag({controller: :spots, action: :search}, {method: :get}) do  %>
 <div class="col-lg-4">
  <%= collection_select( nil, :park_id, Park.all, :id, :name, { :include_blank => 'Water and Land'} , { :class => 'form-control' })  %>
</div>
  <div class="col-lg-4">
  <%= collection_select( nil, :term_id, Term.all, :id, :name, { :include_blank => 'Short and Long Term'} , { :class => 'form-control' })  %>
</div>
  <div class="col-lg-4">
  <%= collection_select( nil, :value, Distance.all, :value, :value, { :include_blank => 'All radii'} , { :class => 'form-control' })  %>
</div>
  <%= text_field_tag :keyword  %> <%= submit_tag "search" %>
</div>
 <% end %>
</div>
<% end %>

<hr>


<%  @spots.each do |i| %>
<div class="" style="border-radius: 90px;">
 <div class="col-lg-6 well well-styled">
  <table>
  <tr>
    <h3 class="well-title"><%=link_to i.title, i %></h3>
    <% if i.spot_image_file_name == nil %>
      <td><h4><%=link_to image_tag("#{i.image_url}", :size => "120x120", alt: "Example Image"), i%></td></h4>
    <% else %>
      <td><h4> <%=link_to image_tag i.spot_image(:square) %> </h4></td>
    <% end %>
    <td>
      <% if current_user.role == "admin" || current_user.id == i.user_id %>
        <%= link_to "edit", edit_spot_path(i), class: "btn btn-primary" %>
        <%= button_to "delete", i, :method=>:delete, :class=>:destroy %>
      <% end %>
    </td>
    <td style="padding-left: 10px"><%=i.description.truncate(59)%></td>
    <td style="padding-left: 15px;"><strong>price:  </strong> $<%= i.price%>
     <strong>Length:  </strong><%= i.length%>ft.
    </td>
    <td><strong> Covered: </strong>
    <% if i.covered == true %> Yes <%else%> No <% end %>
  </tr>
  </table>
 </div>
</div>
 <% end %>
<% end %><!-- top -->
