  <% if current_user && current_user.id == @spot.user_id%>
    <%= link_to "Edit", edit_spot_path %>

  <% end %>

<div class="jumbotron">
<h2><%= @spot.title %></h2>
<div class="well well-sm pull-right">
  <strong>
      <%= @spot.term.name %>
       Term Parking on
    <%= @spot.park.name %>
   </strong>
</div>
<div class="well well-sm text-centered">
<%= @spot.description %>
</div>
<div class="pull-right">
 <div class="well well-sm text-center">
  <strong>Covered:</strong>
    <% if @spot.covered == true %>
      Yes  <% else %>  No
    <%end %>

  <br>
  <strong> Ramp distance: </strong> <%= @spot.ramp %> mi.

  <h3> Dimensions</h3>
  <strong>Length:</strong> <%=  @spot.length %> ft.<br>
  <strong>Width:</strong> <%= @spot.width %> ft.<br>
  <strong>Depth:</strong> <%= @spot.depth %> ft.<br>
<hr>
  <div>
    <%= form_for Charge.new do |f| %>
      <%= f.hidden_field :amount, value: @spot.price %>
      <%= f.hidden_field :item, value: @spot.title %>
      <%= f.hidden_field :owner_id, value: @spot.user_id %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_utz2352HLZF5A7m4XpIkkUqC" data-amount="<%= @spot.price.to_i * 100 %>"
      data-name="RentSpot" data-description="<%= number_to_currency(@spot.price) %>"
      data-image: "/assets/lab.jpg"></script>
      <% end %>
  </div>

  </div>
  </div>
  <hr>
  SAFass <br>
  SAFass <br>
  SAFass <br>
  SAFass <br>
  <strong>Images</strong><br>
  SAFass <br>
  SAFass <br>
  SAFass <br>
  SAFass <br>
  <h3> set a time you'd like to rent a spot for (xx.xxxx through xx.xxxx)
   <br>
   [  day  ]  [ time ]  [Month & year]
  </h3>

</div>
