  <% if current_user && current_user.id == @spot.user_id%>
    <%= link_to "Edit", edit_spot_path %>

  <% end %>
<% unless @spot.is_boat == true %>
<div class="container-fluid">
<div class="jumbotron">
<h2><%= @spot.title %></h2>

<div class="well well-sm pull-right">
  <strong>
  <%= @spot.term.name %>
    <% unless @spot.park == nil %>
       Term Parking on
       <%= @spot.park.name %>
    <% else %>
      Term
    <% end %>
  </strong>
</div>
<div class="well well-sm text-centered">
<%= @spot.description %>
</div>
<div class="pull-right">
 <div class="well well-sm text-center">
  <strong>Covered:</strong>
    <% if @spot.covered == true %>
      Yes  <% else %>  No
    <%end %>
   <br>
   <strong> Ramp distance: </strong> <%= @spot.ramp %> mi.

    <h3> Dimensions</h3>
    Length:<%= @spot.length %><br>
    Width:<%= @spot.width %><br>
    Depth:<%= @spot.depth %><br>
    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@spot.latitude},#{@spot.longitude}&markers=#{@spot.latitude},#{@spot.longitude}&zoom=9&size=200x200&key=",
                  class: 'img-fluid img-rounded', alt: "#{@spot.title} on the map"%>
  </div>
</div>
<hr>
<% if @spot.spot_image_file_name == nil %>
  <%=image_tag("#{@spot.image_url}", :size => "420x420", alt: "Example Image")%>
<% else %>
  <td> <%= image_tag @spot.spot_image(:tween) %> </td>
<% end %>
<div class=" text-center">
  <h3> Reservation  </h3>
    <%= render "events/calendar" %>
  <%= render 'events/form', event: Event.new, spot: @spot %>
  <hr>
<div class="well">
  <p> $<%= @spot.price %>/ day </p>
<br>
 </div>
</div>
</div>
</div>
<% else %>
<div class="container-fluid">
<div class="jumbotron">
<h2 class="text-center" style="font-style:"underline";"><%= @spot.title.capitalize %></h2>
<div class="well well-sm pull-right">
  <strong>
      <%= @spot.term.name %>
       Term
   </strong>
</div>
<div class="well well-md text-centered">
<%= @spot.description %>
</div>
<div class="pull-right">
 <div class="well well-sm text-center">
  <strong>Lake:</strong> <%= @spot.lake.name%><br>
  <strong>Type:</strong> <%= @spot.type.name%></br>
  <strong>Make:</strong> <%= @spot.make %></br>

   <br>
   <strong> distance: </strong> <% %> mi.
    <h3> Dimensions</h3>
    Length:<%= @spot.length %><br>
    Occupancy:<%= @spot.occupants %><br>
    Propulsion:<%= @spot.propulsion.name %><br>
   <br>
      <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@spot.latitude},#{@spot.longitude}&markers=#{@spot.latitude},#{@spot.longitude}&zoom=9&size=200x200&key=",
                    class: 'img-fluid img-rounded', alt: "#{@spot.title} on the map"%>
</div>

</div>
<hr>
<!-- holding place for seeded images -->
<% if @spot.spot_image_file_name == nil %>
  <%=image_tag("#{@spot.image_url}", :size => "420x420", alt: "Example Image")%>
<% else %>
  <td> <%= image_tag @spot.spot_image(:tween) %> </td>
<% end %>


<div class=" text-center">
  <h3> Reservation  </h3>
    <%= render "events/calendar" %>
  <%= render 'events/form', event: Event.new, spot: @spot %>
  <hr>
<div class="well">
  <p> $<%= @spot.price %>/ day </p>
<br>
 </div>
</div>
</div>
</div>
<% end %>
