<div class="jumbotron">
<h2><%= @spot.title %></h2>
<div class="well well-sm pull-right">
<%= @spot.description  + @spot.description + @spot.description + @spot.description  + @spot.description + @spot.description + @spot.description  + @spot.description + @spot.description %>
</div>
<div class="pull-right">
<div class="well well-sm text-center">
  <h3> Dimensions</h3>
Length:<%= @spot.length %><br>
Width:<%= @spot.width %><br>
Depth:<%= @spot.depth %><br>
</div>
</div>
<hr>
SAFass <br>
SAFass <br>
SAFass <br>
SAFass <br>
<strong>Images </strong><br>
SAFass <br>
SAFass <br>
SAFass <br>
SAFass <br>
<h3> set a time you'd like to rent a spot for <br>
[  day  ]  [ time ]  [Month & year]</h3>
</div>
