<p id="notice"><%= notice %></p>

<%= week_calendar number_of_weeks: 2, events: @spot.events do |date, events| %>
  <%= date %>

  <% events.each do |event| %>
    <div>
      <!-- <strong><%= event.name %> <%=event.start_time.strftime("%I:%M:%S")  %> -->
      <% @difference = distance_of_time_in_words event.start_time, event.end_time %>
        <%= distance_of_time_in_words event.start_time, event.end_time %>
        <%if event.user == current_user %>
          <strong><%=  event.user.name %><strong>
            <% if @difference.to_i > 1 %>
            <% @total_price = event.spot.price  * @difference.to_i %>
            <%= @total_price %>
            <% else %>
            <% @diffrence = 1 %>
            <% @total_price = event.spot.price %> hello
            <%= @total_price %>
            <% end %>
            <p> $<%= @spot.price %>/ day </p>
             <%= render partial: 'charge', locals: {spot: @spot} %>
            <br>
          <%else%>
          <strong> booked </strong>
          <% end %>
        <!-- to <%=event.end_time.strftime("%I:%M:%S") %>--></strong>
    </div>
  <% end %>
<% end %>
<br>
