<p id="notice"><%= notice %></p>

<%= week_calendar number_of_weeks: 2, events: @spot.events do |date, events, evented| %>

<%= date.strftime('%x') %>

<hr>
  <% events.each do |event| %>
   <%event.repeats.each do |e| %>
   hi
  <%= content_tag(:div, "Your content here", :class => "notice #{event.view_class}") %>
  <% end %>
  <!-- create array of booking length -->
<% a = [] %>
 <% a = *event.start_time.to_date..event.end_time.to_date %>
<%= a %>
  <% @half_day = 0 %>
  <!-- same day bookings -->
  <% if event.end_time && event.start_time %>
    <% if event.end_time.strftime("%D") === event.start_time.strftime("%D") %>
      <% diff = event.end_time.strftime("%H").to_i, event.start_time.strftime("%H").to_i %>
      <% diff_1 = diff[0] %>
      <% diff_2 = diff[1] %>
      <% diff =  diff_1 - diff_2 %>
      <%= diff %> hours
      <!-- HALF DAY PRICING -->
      <% if diff < 6 %>
        <% @half_day = 1 %>
        <% @difference = 0.75 %>
       <% else %>
         <% @half_day = 2 %>
         <% @difference = 1 %>
      <% end %>
    <% end %>
    <% else %>
    <% @multiple_days = true %>
  <% end %>

<!-- bookings on different days -->
    <div>
      <% if @half_day === 0 %>
      <!-- <strong><%= event.name %> <%=event.start_time.strftime("%I:%M:%S")  %> -->
      <!-- Display proper rent times -->
          <% @difference = distance_of_time_in_words event.start_time, event.end_time  %>
          <% @difference = @difference.to_i + 1 %>
            <% @multiple_day_count = @difference.to_i  %>
          <%= @difference.to_i %> days
      <% end %>

<!-- bookings cost -->
        <%if event.user == current_user %>
          <strong><%= event.user.name %><strong>
            <% if @difference < 1 %>
             <% @total_price = event.spot.price  * @difference %>
             <% @total_price = @total_price.ceil%>
             <% @duplicate = false %>
            <% elsif @difference.to_i > 1 %>
              <% @total_price = event.spot.price  * @difference.to_i %>
              <%= @total_price %>
              <% @duplicate = true %>
            <% else %>
              <% @difference = 1 %>
              <% @total_price = event.spot.price %>
              <%= @total_price %>
              <% @duplicate = false %>
            <% end %>
            <% eventeds = [] %>
<% if @duplicate %>
<%@difference =  @difference -1 %>
<% @difference.times do %>
<% evented = event.clone %>
<% evented.start_time += 86400 %>
<% date = event.start_time %>
<% evented.start_time = date %>
<% evented.booked = true %>
<% eventeds << evented %>
<%= event.start_time.strftime("%D") %>
<%= evented.start_time.strftime("%D") %>
    booked
   <% end %>
<% end %>



            <% unless event.booked %>
             <%= render partial: 'charge', locals: {spot: @spot} %>
             <% else %>
             <h2>payed</h2>
             <%end%>
            <br>
          <%else%>
          <strong> booked
        <% end %>
         <%=event.end_time.strftime("%D") %></strong>
    </div>
     <% if event.user == current_user || current_user.role == "admin" %>
       <%= link_to 'Cancel', event, method: :delete, data: { confirm: 'Are you sure?' } %>
     <%  end %>

  <%  end %>



<% end %>

<br>
