<% unless user_signed_in? %>
  <div class="jumbotron">
    <div class="container">
      <p>Register to get started.</p>
      <p><%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
    </div>
  </div>
<% else %>
<h1> Spots currently rented </h2>
  <div>
  <% @spots.each do |spot| %>
  <% if spot.arrived == true && spot.buyer_id == current_user.id %>
  <%= spot.title %> currently owned by buyer do not create a purchase

<div>
  <%= form_for Charge.new do |f| %>
    <%= f.hidden_field :amount, value: spot.price %>
    <%= f.hidden_field :item, value: spot.title %>
    <%= f.hidden_field :owner_id, value: spot.user_id %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_utz2352HLZF5A7m4XpIkkUqC" data-amount="<%= spot.price.to_i * 100 %>"
    data-name="RentSpot" data-description="<%= number_to_currency(spot.price) %>"
    data-image: "/assets/lab.png"></script>
    <% end %>
</div>
  <% end %>
  <% end %>

</div>
<% end %>
