<div class="jumbotron well"><h2><%= @user.name %> </h2>
 </div>
 <div class="well well-styled">
  <% @spots.each do |spot| %>
   <div>
    <strong>Reservation:</strong> <%= link_to spot.title, spot %>
    <strong>Completed payment:</strong> <%= spot.arrived %>
   <div>
   <% my_charge = Charge.find_by(item: spot.title, user_id: spot.user_id, completed: false) %>
   <% my_event = Event.find_by(spot_id: spot.id, payed: false) %>
   <% if my_event %>
     <%= my_event.start_time.strftime("%D") %> --> <%= my_event.end_time.strftime("%D") %>
    <% if my_charge %>
          <div class="button">
            <%= link_to 'complete purchase / arrived!', complete_charge_path(charge_id: my_charge.id, token: my_charge.token, price: my_charge.price, customer_id: my_charge.customer_id, destination: my_charge.vendor.uid) %>
          </div>
      </div>
    <% end %>
  <% end %>
 <% end %>
 <% @spots.each do |spot| %>
 <% my_charges = Charge.find_by(item: spot.title, user_id: spot.user_id, completed: true) %>
   <% my_events = Event.where(payed: true, spot_id: spot) %>
   <% if my_charges %>
    <%if my_events%>
     <h3><%= spot.title %></h3>
     <h3><%= spot.id %></h3>
     Charged: $<%= my_charges.price %>
     <strong><%=my_charges.completed%></strong>
     <% my_events.each do|i| %>
     <% @time_difference = i.start_time.strftime("%s").to_i - i.end_time.strftime("%s").to_i %>
      <% if @time_difference > 0 %>
       <strong>from :</strong><%= @time_difference = i.start_time.strftime("%s").to_i - i.end_time.strftime("%s").to_i %> --> <%= i.end_time.strftime("%s") %>
       <strong>spot :</strong><%= i.spot_id %>
       <% end %>
      <% end %>
     <% end %>
    <% end %>
  <% end %>
 </div>
</div>
