<div class="jumbotron well"><h2><%= @user.name %> </h2>
</div>
<div class="well well-styled">
   <% if @charge %>
 <div class="well well-styled">
   <h4 style="text-decoration:underline;"> Reservation needing payment</h4>
  <% @charge.each do |charge| %>
   <% if charge.completed === false %>
    <% my_charge = Charge.find_by(user_id: @user, completed: false) %>
    <%my_spot = Spot.find_by(title: charge.item ) %>
    <h3><%= link_to my_spot.title, my_spot %></h3>
      <div class="btm btn-primary">
        <%= link_to 'complete purchase / arrived!', complete_charge_path(charge_id: my_charge.id, token: my_charge.token, price: my_charge.price, customer_id: my_charge.customer_id, destination: my_charge.vendor.uid) %>
      </div>
     <div>
      <strong>Reservation:</strong> <%= charge.item%>
      <strong>Completed payment:</strong> <%= charge.completed %>
    </div>
    <% end %>
  <% end %>
</div>


<div class="well well-styled">
 <h4 style="text-decoration:underline;"> Current Reservations </h4>

  <% @charge.each do |charge| %>
  <% if charge.completed === true %>
    <% events = Event.find_by(payed: true, charge_id: charge.id, user_id: @user.id) %>
    <% if events && events.start_time > Time.now%>
       <% my_spots = Spot.find_by(title: charge.item) %>
       <% if my_spots %>
         <h3> <strong><%= link_to my_spots.title, my_spots%></strong></h3>
         <%= events.start_time.strftime("%v" " at " "%r")%> to <%= events.end_time.strftime("%v" " at " "%r")%>
         Charged: $<%= charge.price %>
       <% end %>
     <% end %>
  <% end %>
 <% end %>
</div>

 <div class="well well-styled">
  <h4 style="text-decoration:underline;"> Past Reservations </h4>



   <%@charge.each do |charge| %>
     <% if charge.completed === true %>
     <% events = Event.find_by(payed: true, charge_id: charge.id, user_id: @user.id) %>
     <% if events && events.start_time < Time.now%>
        <% my_spots = Spot.find_by(title: charge.item) %>
        <% if my_spots %>
          <h3> <strong><%= link_to my_spots.title, my_spots%></strong></h3>
          <%= events.start_time.strftime("%v" " at " "%r")%> to <%= events.end_time.strftime("%v" " at " "%r")%>
          Charged: $<%= charge.price %>
           <% end %>
      <% end %>
    <% end %>
  <% end %>
 </div>


 <% end %>
</div>
